/* activity.css */

.activity-content {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

.activity-content .activity-page {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    margin: 20px auto;
    max-width: 1200px;
}

.activity-page .activity-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.activity-page .activity-table {
    width: 100%;
    border-collapse: collapse;

}

.container {
    max-width: 98%;
}

.activity-page .activity-table th, .activity-page .activity-table td {
    border: 1px solid rgba(143, 160, 189, 0.57);
    padding: 15px;
    text-align: center;
}

.activity-page .activity-table th {
    background-color: #f8f9fa;
    color: #333;
}

.activity-page .activity-table tr:nth-child(even) {
    background-color: rgba(100, 149, 237, 0.08);
}

.activity-page .activity-table tr {
    line-height: 1.8;
}

.activity-page .activity-table tr:nth-child(even) {
    background-color: #f2f2f2;
}



.activity-page .activity-table th, .activity-page .activity-table td {
    border: 1px solid rgba(149, 186, 251, 0.5);
    padding: 15px;
    text-align: center;
}

.activity-page .activity-table a {
    color: #007bff;
    text-decoration: none;
}

.activity-page .activity-table a:hover {
    color: #007BFF;
    text-decoration: underline;
}

.activity-page .btn-filter:hover {
    background-color: #007BFF;
    color: white;
}

.activity-page .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.activity-page .pagination a, .activity-page .pagination span {
    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
    text-decoration: none;
}

.activity-page .pagination a:hover, .activity-page .pagination .current {
    background-color: #e0e0e0;
    color: #007bff;
}

.activity-page .pagination .disabled {
    color: #ccc;
    pointer-events: none;
}

.activity-page .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}


.activity-content {
    padding: 20px;
}

.activity-page .form-group {
    margin-bottom: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.activity-content {
    font-family: 'Roboto', sans-serif;
}


.activity-page .form-group label {
    font-size: 0.8rem;
    color: #333;
}

.activity-page .form-group select {
    font-size: 0.8rem;
    color: #333;
}

.activity-page .btn-primary {
    background-color: rgba(0, 123, 255, 0.52);
    border: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.activity-page .btn-primary:hover {
    background-color: #0056b3;
}

.activity-page .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.activity-page .btn-filter {
    font-size: 0.8rem;
    padding: 5px 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.activity-page .btn-filter:hover {
    background-color: #0056b3;
}

.activity-page .mb-4 {
    margin-top: 20px;
}

.activity-content nav {
    display: flex !important;
}

.activity-content .nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
}

.activity-content .nav-item a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.activity-content .nav-item a:hover {
    color: #007bff;
}

.order-form, .rows-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 5px;
}

.order-form select, .rows-form select {

    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.order-form select{
    width: 150px;
}

.rows-form select{
    width: 90px;
}

.form-container {
    display: flex;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
    padding-right: 24px;
    margin-bottom: 2px;
}


h1, h3 {
    text-align: center;
    color: #333;
}

.activity-content .country-form {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.text-gray {
    color: gray;
}